.shopping-list__form-container {
  margin-top: 25px;
}

.shopping-list__form-container label {
  display: block;
  margin: 15px;
}

.shopping-list__form-container input {
  margin-left: 5px;
}

.shopping-list__form-container select {
  margin-left: 5px;
}
