.shopping-list__form-container {
  margin-top: 25px;
}

.shopping-list__form-container label {
  display: block;
  margin: 15px;
}

.shopping-list__form-container input {
  margin-left: 5px;
}

.shopping-list__form-container select {
  margin-left: 5px;
}

.shopping-list__form-container .error {
  border-color: red;
}

.shopping-list__form-container .error:focus-visible,
.shopping-list__form-container .error:focus {
  border-color: red;
}

.shopping-list__input-errors {
  font-weight: bold;
  color: red;
}
